{% extends "base.html" %}
{% block content %}
<h1>{{ user | title }} Habits List</h1>

<div id="score">
    {% include "score.html" %}
</div>
<script>
    htmx.on('habitUpdated', function (evt) {
        htmx.ajax('GET', '/score/', '#score');
    });
</script>

<div id="habit-list">
    <table style="width: 100%">
        <tr>
            <th>Habit</th>
            <th>Done</th>
        </tr>
        {% for habit in habits %}
        {% include "habit_card.html" %}
        {% endfor %}
    </table>
</div>

<a class="pointed" hx-get="/new/" hx-swap="outerHTML">Create a new habit</a>

{% include "heatmap.html"%}

{% endblock %}